//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Solway&family=Syne&display=swap');
//Font Variables
$syne: 'Syne', sans-serif;
$raleway: 'Raleway', sans-serif;
$solway: 'Solway', serif;

//Color Palette
$purple: #400135;
$dark-orange: #F24405;
$light-orange: #F2620F;
$peach: #F2BB9B;
$white: #f2f2f2;


* {
    box-sizing: border-box;
  }
  
  body, html {
    font: 100% $raleway;
    display: block;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: $raleway;
    color: $purple;
    flex-wrap: wrap;
  }

  .connection-login {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: $peach;
    position: center;
    padding: 15px 15px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: 25%;
  }

  .user-field {
    display: flex;
    flex-direction: column;
    border-color: $purple;
    border-radius: 5px 5px 0 0;
    background-color: $white;
    position: center;
    padding: 15px 15px;
  }

  .saved-cards {
    display: flex;
    flex-direction: column;
    // border-color: $purple;
    // border-radius: 5px;
    background-color: $peach;
    position: center;
    padding: 5%;
  }

  .start-form {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: $peach;
    position: center;
    text-align: center;
    justify-content: space-around;
    width: 70%;
    margin: auto;
  }

  .user-card {
    h2 {
      color: $purple;
      text-transform: uppercase;
    }
    h3 {
      color: $dark-orange;
    }
    p {
      color: $purple;
    }
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: $peach;
    position: center;
    text-align: center;
    justify-content: space-around;
    width: 60%;
    margin: auto;
  }

  .build-card {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
    background-color: $white;
    position: center;
    padding: 15px 15px;
    // flex-basis: auto;
    // overflow: hidden;
  }

  .cardCodeDiv {
    display: flex;
    flex-direction: column;
    // max-width: 30%;
  }

  .container-info {
    .icon{
      margin: .5em;
      position: center;
      justify-content: space-around;
    }
    display: flex;
    flex-direction: column;
    background-color: $white;
    opacity: 50%;
    margin: 1em;
    position: center;
    justify-content: space-around;
    z-index: -4;
    overflow-wrap: break-word;
  }

  .newcard {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
  }

  h4 {
    color: $dark-orange;
    text-align: center;
    text-shadow: 1px 2px 3px $white;
  }

  h3 {
    color: $purple;
    size: 2.5em;
  }
  h2 {
    color: $purple;
    text-align: center;
    text-transform: uppercase;
    // text-shadow: 1px 2px 3px $white;
  }

  // h1 {
  //   color: $dark-orange;
  //   text-align: right;
  //   padding-right: 50px;
  //   transform: translateY(-600px);
  //   animation: 1.2s slideIn ease-in-out forwards 1s;
  //   z-index: 10;
  // }

  h1 {
    font-size: 2.5em;
    color: $dark-orange;
    transform: translateX(-600px);
    animation: 1.2s slideIn ease-in-out forwards 1s;
    z-index: 10;
    opacity: 0;
    text-align: right;
    padding-right: 50px;
    position: relative;
    font-family: $solway;
    // text-decoration-style: serif;
  }
  

  h1::before {
    content: '';
    width: 0%;
    height: 2.5em;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -10px;
    animation: 1s underline ease-in-out forwards 2s;
    mix-blend-mode: screen;
    font-family: $solway;
}

.overlay {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    transform: scale(.5);
    animation: .5s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
}

@keyframes skewBg {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes underline {
  100% {
    width: 100%;
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
  
  a {
    text-decoration: none;
    color: $peach;
    font-weight: bold;
    transition: color .1s;
  &:hover { 
    color: $dark-orange; }
  }

  a.logo {
    font-size: 1.8em;
  }

  .logo {
    display: inline-flex;
    align-self: center;
  }

  // CARD ELEMENTS
  .card {
    .card-body {
      margin: .5em;
    }
    .card-title {
      color: $purple;
      size: 24px;
      text-transform: uppercase;
    }
    h5{
      text-align: center;
      color: $purple;
    }
    body {
      display: flex;
      align-content: space-around;
    }
    border: 1px solid $purple;
    border-radius: 5px;
    padding: 3%;
    margin: .5em;
    width: 380px;
    height: 200px;
    box-shadow: 0 3px 6px 0 $purple;
    background: $white;
  }

  .backgrounds {
    display: inline-flex;
  }

  .circle {
    img {
    width: 80px;
    height: 80px;
    }
    border-radius: 50%;
    display: inline-block;
    border: 1px solid $dark-orange;
  }

  .light-background {
    background-image: url("/images/light_card_background.png");
    background-size: cover;
    z-index: -1;
  }

  .white-background {
    background-image: url("/images/white_background.png");
    background-size: cover;
  }

  .orange-background {
    background-color: $light-orange;
  }

  .peach-background {
    background-color: $peach;
  }

  .orangebackground {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $light-orange;
    border: 1px solid $dark-orange;
  }

  .peachbackground {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $peach;
    border: 1px solid $dark-orange;
  }

  p.font-one {
      font: $syne;
      font-family: $syne;
  }

  p.font-two {
      font: $solway;
      font-family: $solway;
  }

  .icon {
    display: block;
    width: fit-content;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .icon-one {
    background: url("./icon_new/arroba.png");
  }

  .icon-two {
    background: url("./icon_new/chat.png");
  }

  .icon-three {
    background: url("./icon_new/eye.png");
  }

  .icon-four {
    background: url("./icon_new/heart.png");
  }

  .icon-five {
    background: url("./icon_new/idea.png");
  }

  .icon-six {
    background: url("./icon_new/paper-plane.png");
  }

  .font-card input {
    float: right;
  }
  
  textarea, input {
    padding: 1.5%;
    border-radius: 5px;
    border: 1px solid $purple;
    margin: 1.5%;
    min-height: 5%;
    position: relative;
    color: $purple;
    font: Helvetica;
  }

  label, input {
    display: inline-block;
    vertical-align: middle;
    justify-content: space-around;
  }

  .info {
  display: inline-block;
  width: 300px;
  padding: .75%;
  border-radius: 5px;
  border: 1px solid $purple;
  margin: 1.5%;
  min-height: 1.5rem;
  position: relative;
  box-shadow: 0 2px 4px 0 $purple;
  }
  
  textarea { 
    min-width: 50%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
    padding-bottom: 1%;
  }

  .signup-form {
    justify-content: center;
  }
  
  .wrapper {
      img {
        width: 3.8em;
        height: 3.8em;
      }
    width: 100%;
    min-height: 100%;
    // max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-image: url("../images/dark_background.png");
    background-size: cover;
    // background-position: center;
    background-attachment: fixed;
  }

  header { 
      .h1 {
        color: $peach;
        display: inline-flex;
      }
      nav {
        display: inline-block;
        padding: .5%;
        margin-right: 3%;
        // float: right;
        // align-items: flex-end;
      }
      .logout {
        display: inline-flex;
        padding: .5rem;
        // float: right;
        align-items: flex-end;
        font-family: $raleway;
      }
    background-color: $purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2% 0;
    position: -webkit-sticky;
    position: sticky;

  }
  
  header h1 {
    font-size: 1.5rem;
  }
  
  main {
    flex: 1;
    padding: 5%;
  }

  // BUTTON STYLES

  button {
    background-color: $purple;
    border: 0;
    padding: 1.5%;
    color: $white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 2%;
  }
  
  button:hover {
    background-color: $dark-orange;
  }

  .logout {
    &:hover {
      color: $dark-orange;
    }
      background-color: $purple;
      text-decoration: none;
      color: $peach;
      font-weight: bold;
      text-transform: lowercase;
      border: 1px solid $dark-orange 5px;
      font-size: 16px;
  }

  .btn-no-style {
      &:hover{
        background-color: $dark-orange;
      }
    background: $purple;
    border: 1px solid $purple;
    padding: 1.5%;
    // cursor: pointer;
    text-transform: uppercase;
    color: $white;
    font-size: 1rem;
    font-weight: bold;
    // transition: color .1s;
    // margin-left: 16px;
  }

  .cursor-pointer{
    cursor: pointer;
}
/* validations css */
.small-hidden{
  visibility: hidden;
}
.small-visible{
  color: #E74C3C;
  visibility: visible;
  display: block;
}

  // FOOTER STYLES

  footer {
    background-color: #400135;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    font-size: 80%;
    color: #F2BB9B; }
  /*footer p {
    color: #F2BB9B; }*/
  .smallerTextFooter{
      font-size: small;
  }
  .mycard-flex{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    font-size: 110%;
    color: #F2BB9B;
  }

  /*footer p {
    color: $peach;
  }*/

  .smallerTextFooter{
    font-size: small;
  }

  // FLEXBOX STYLES

  .row {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .row.reverse {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
  }
  
  .row.natural-height {
    -ms-flex-align: start;
        align-items: flex-start;
  }
  
  .row.flex-column {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  
  .col {
    box-sizing: border-box;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }
  
  .col.reverse {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  
  .first {
    -ms-flex-order: -1;
        order: -1;
  }
  
  .last {
    -ms-flex-order: 1;
        order: 1;
  }
  
  .align-start {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  
  .align-end {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  
  .align-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  
  .align-baseline {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  
  .align-stretch {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  
  .col-xs {
    box-sizing: border-box;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }
  
  .col-xs-1 {
    box-sizing: border-box;
    -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1rem;
  }
  
  .col-xs-offset-1 {
    margin-left: 8.3333333333%;
  }
  
  .col-xs-2 {
    box-sizing: border-box;
    -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1rem;
  }
  
  .col-xs-offset-2 {
    margin-left: 16.6666666667%;
  }
  
  .col-xs-3 {
    box-sizing: border-box;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
    padding: 1rem;
  }
  
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  
  .col-xs-4 {
    box-sizing: border-box;
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1rem;
  }
  
  .col-xs-offset-4 {
    margin-left: 33.3333333333%;
  }
  
  .col-xs-5 {
    box-sizing: border-box;
    -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1rem;
  }
  
  .col-xs-offset-5 {
    margin-left: 41.6666666667%;
  }
  
  .col-xs-6 {
    box-sizing: border-box;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    // max-width: 50%;
    padding: 1rem;
  }
  
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  
  .col-xs-7 {
    box-sizing: border-box;
    -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1rem;
  }
  
  .col-xs-offset-7 {
    margin-left: 58.3333333333%;
  }
  
  .col-xs-8 {
    box-sizing: border-box;
    -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1rem;
  }
  
  .col-xs-offset-8 {
    margin-left: 66.6666666667%;
  }
  
  .col-xs-9 {
    box-sizing: border-box;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
    padding: 1rem;
  }
  
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  
  .col-xs-10 {
    box-sizing: border-box;
    -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1rem;
  }
  
  .col-xs-offset-10 {
    margin-left: 83.3333333333%;
  }
  
  .col-xs-11 {
    box-sizing: border-box;
    -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1rem;
  }
  
  .col-xs-offset-11 {
    margin-left: 91.6666666667%;
  }
  
  .col-xs-12 {
    box-sizing: border-box;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }
  
  .col-xs-offset-12 {
    margin-left: 100%;
  }
  
  .row.start-xs {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  
  .row.center-xs {
    -ms-flex-pack: center;
        justify-content: center;
  }
  
  .row.end-xs {
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
  
  .row.top-xs {
    -ms-flex-align: start;
        align-items: flex-start;
  }
  
  .row.middle-xs {
    -ms-flex-align: center;
        align-items: center;
  }
  
  .row.bottom-xs {
    -ms-flex-align: end;
        align-items: flex-end;
  }
  
  .row.around-xs {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  .row.between-xs {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  
  .first-xs {
    -ms-flex-order: -1;
        order: -1;
  }
  
  .last-xs {
    -ms-flex-order: 1;
        order: 1;
  }

.mycard-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

