<div class="user-card {{background.background_name}}">
    <div class="row .center-xs .middle-xs">
        <div class="col-xs-12">
                <img src="{{qrcode.qrcode_path}}"/>
        </div>
    </div>
</div>
