<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Social</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Card Social</a>
      </h1>
      <nav>
        <a href="/login">Enter</a>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
     <nav>
        <button id="logout" class="btn-no-style">logout</button>
        <a href="/login">login</a>
    </nav>
    <footer>
      Thanks for using Card Social to connect!
    </footer>
  </div>
<script src="/javascript/logout.js"></script>
</body>

</html>