<section id="dashboard">
<div class="user-field">
  <h1>Welcome Back, {{ username }}</h1>
<form class="user-info">
    {{!-- image container needs to be stylized and have option to upload url
    social accounts could be saved here and represented as icons in template --}}
<div class="row around-xs">
  <div class="row center-xs">
    <div class="col-xs">
      <input type="text" class="form-control" placeholder="First Name">
      <input type="text" class="form-control" placeholder="Last Name">
      <input type="text" class="form-control" placeholder="Nickname">
      <input type="text" class="form-control" placeholder="Social">
      <input type="text" class="form-control" placeholder="Home Address"> 
      <input type="text" class="form-control" placeholder="Personal Phone">  
      <input type="text" class="form-control" placeholder="Personal Email">
      <input type="text" class="form-control" placeholder="Junk Email">
    </div>
    <div class="col-xs">
      <input type="text" class="form-control" placeholder="Business Name">
      <input type="text" class="form-control" placeholder="Business Address">
      <input type="text" class="form-control" placeholder="Business Phone">
      <input type="text" class="form-control" placeholder="Business Email">
      <input type="text" class="form-control" placeholder="Business Website">
      <input type="text" class="form-control" placeholder="Business Slogan">
      <input type="text" class="form-control" placeholder="Short Bio">
    </div>
  </div>
  </form>
    <div class="row around-xs">
        <button type="submit">save</button>
    </div>
</div>
</section>

{{!-- <section id="rolodex">
<div class="rolodex">
    <h2>Rolodex</h2>
    <div class="user-card">
        <h4>saved user cards will go here</h4>
// would need this function to repeat depending on amount of saved users 
        
    </div>
</div>
</section> --}}

<section id="mycards">
<div class="saved-cards">
    <h2>My Cards</h2>
    <div class="row around-xs">
{{!-- card option that includes link - this could go to a page with just that number or generate QR code --}}
{{!-- may need to created another handlebars template so this can be a repeating option like above ^^^ --}}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Business Card</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
        <div class="row around-xs">
        <button type="submit">card code</button>
        </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
        <div class="row around-xs">
        <button type="submit">card code</button>
        </div>
  </div>
    <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
     <div class="row around-xs">
        <button type="submit">card code</button>
        </div>
  </div>
</div>
</div>
</section>

<section id="newcard">
<div class="build-card">
    <h2>New Card</h2>
<form class="user-info">
    {{!-- these need to be changed so they do not have input function but rather a radial click to use on card | this information should be populated from initial dashboard info above ^^^--}}
{{!-- need to add in placeholders for styling options --}}
{{!-- be nice to represent social options as icons that are clickable with stored info above --}}
<div class="row around-xs">
    <div class="col-xs">
      <div class="row">
      <div class="col-xs">
        <input type="text" class="form-control" placeholder="First Name">
        <input type="text" class="form-control" placeholder="Last Name">
        <input type="text" class="form-control" placeholder="Nickname">
        <input type="text" class="form-control" placeholder="Social">
        <input type="text" class="form-control" placeholder="Home Address"> 
        <input type="text" class="form-control" placeholder="Personal Phone">  
        <input type="text" class="form-control" placeholder="Personal Email">
        <input type="text" class="form-control" placeholder="Junk Email">
      </div>
      <div class="col-xs">
        <input type="text" class="form-control" placeholder="Business Name">
        <input type="text" class="form-control" placeholder="Business Address">
        <input type="text" class="form-control" placeholder="Business Phone">
        <input type="text" class="form-control" placeholder="Business Email">
        <input type="text" class="form-control" placeholder="Business Website">
        <input type="text" class="form-control" placeholder="Business Slogan">
        <input type="text" class="form-control" placeholder="Short Bio">
      </div>
      </div>
</form>
    <div class="row around-xs">
        <button type="submit">create card</button>
    </div>
</div>
</section>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/dashboard.js"></script>
