<div class="row">
    
    <div class="connection-login">
        <div class="row center-xs">
            <div class="col-xs-6">
            <h3>Find Your Connection</h3>
                <form class="connection">
                    <input type="text" id="connection-id" />
                </form>
            <nav>
                <button id="connect" class="btn-no-style">connect</button>
            </nav>
            </div>
        </div>
    </div>
</div>

<script src="/js/homepage.js"></script>

