<div class="container">
    <div class="row">
        <div class=".col-sm">
    <div class="login">
        
           
                <form class="connection">
                     <h3>Find Your Connection</h3>
                    <input type="text" id="connection-id" />
                
                <nav>
                <button id="connect" class="btn-no-style">connect</button>
                </nav>
                </form>
        </div>
    </div>
    </div>
</div>
</div>

<script src="/js/homepage.js"></script>

