<div class="connection-login">
    <h3>Find Your Connection</h3>
    <form class="connection">
    <input type="text" id="connection-id" />
    </form>
    <nav>
        <button id="connect" class="">connect</button>
    </nav>
</div>

