<div>
    <h3>Find Your Connection</h3>
    <form class="connenction-login">
    <input type="text" id="connection-id" />
    </form>
    <nav>
        <button id="connect" class="btn-no-style">connect</button>
    </nav>
</div>

<script src="/javascript/login.js"></script>