<div class="login-form">
<form class="signup-form">
    <div class="row .center-xs .middle-xs">
        <div class="col-xs-12">
            <label for="firstname-signup">first name</label>
            <input type="text" id="firstname-signup" />
            <label for="lastname-signup">last name</label>
            <input type="text" id="lastname-signup" />
            <label for="email-signup">email</label>
            <input type="text" id="email-signup" />
            <label for="password-signup">password</label>
            <input type="password" id="password-signup" />
        <div>
            <button type="submit" id="btnRegister">register</button>
        </div>
        </div>
    </div>
</form>

<form class="login-form">
    <div class="row .center-xs .middle-xs">
        <div class="col-xs-12">
            <label for="email-login">email</label>
            <input type="text" id="email-login" />
            <label for="password-login">password</label>
            <input type="password" id="password-login" />
        <div>
            <button type="submit" id="btnLogin">login</button>
        </div>
        </div>
    </div>
</form>
</div>

<script src="/js/login.js"></script>

