{{!-- Enhancement: preview for new card? --}}

<div class="user-card">
<div class="newcard">
    <div class="row .center-xs .middle-xs">
        <div class="col-xs-12">
    {{!-- <div class="title"> --}}
        <h2>New Card</h2>
    {{!-- </div> --}}
    <div class="contact-info">
        <p>phone</p>
        <p>email</p>
        <p>address</p>
    </div>
    <div class="extra-info">
        <p>bio</p>
        <p>slogan</p>
        <p>social</p>
    </div>
    </div>
    </div>
</div>
</div>