<div class="user-card {{background_name}}">
    <div class="row .center-xs .middle-xs">
        <div class="col-xs-12">
            <h2>{{code}}</h2>
            <img src="{{qrImage}}" style = "width:400px; height:400px; margin-bottom:40px;" />
        </div>
    </div>
</div>



