* {
  box-sizing: border-box; }

body, html {
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  flex-wrap: wrap; }

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row.center-xs {
  -ms-flex-pack: center;
  justify-content: center; }

.col-xs-6 {
  box-sizing: border-box;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding: 1rem; }

.connection-login {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #F2BB9B;
  position: center;
  padding: 15px 15px;
  text-align: center;
  justify-content: center; }

.user-field {
  display: flex;
  flex-direction: column;
  border-color: #400135;
  border-radius: 5px;
  background-color: #f2f2f2;
  position: center;
  padding: 15px 15px; }

.saved-cards {
  display: flex;
  flex-direction: column;
  border-color: #400135;
  border-radius: 5px;
  background-color: #F2BB9B;
  position: center;
  padding: 15px 15px; }

.login-form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #F2BB9B;
  justify-content: center; }

h3 {
  color: #400135;
  size: 2.5em; }

h2 {
  color: #F24405;
  text-align: center; }

h1 {
  color: #F24405;
  text-align: right;
  padding-right: 50px; }

a {
  text-decoration: none;
  color: #F2BB9B;
  font-weight: bold;
  transition: color .1s; }

a:hover {
  color: #F24405; }

button {
  background-color: #400135;
  border: 0;
  padding: 1.5%;
  color: #f2f2f2;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px; }

button:hover {
  background-color: #F24405; }

.card {
  border: 1px solid #F2620F;
  border-radius: 5px;
  padding: 1%; }

textarea, input {
  padding: .75%;
  border-radius: 5px;
  border: 1px solid #400135;
  margin: 5%; }

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb; }

textarea {
  min-width: 40%;
  min-height: 100px; }

form > div {
  margin-bottom: 2%; }

form label {
  display: block; }

.signup-form {
  justify-content: center; }

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-image: url("../images/dark_background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

header {
  background-color: #400135;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 2%;
  position: -webkit-sticky;
  position: sticky; }

header h1 {
  font-size: 1em; }

main {
  flex: 1;
  padding: 2% 4%; }

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #400135;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px; }

.btn-no-style:hover {
  background: none;
  color: #400135; }

footer {
  background-color: #400135;
  display: flex;
  justify-content: center;
  padding: 2%;
  font-size: 110%; }

footer p {
  color: #F2BB9B; }
